ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
  backdrop-filter: blur(5px);
}

.parent {
  background-image: url('/assets/images/background.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -60px;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-button {
  margin-top: 500px;
  height: 40px;
  width: 200px;
}

.narrow-card {
  max-width: 400px;
  margin-right: auto;
}

.toolbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-button, .add-button {
  margin-left: 10px;
}

.page {
  background: #010103;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
}

.narrow-card {
  resize: both;
  overflow: auto;
}
